.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    & > li {
      margin: 0;
      .section > .desc > h3 > a {
        background-color: transparent;
      }

      .section > .meta {
        margin: 0 0 0.5rem 0;
        opacity: 0.6;
      }
    }
  }
}
